@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Nunito, serif;
}

@layer utilities {
    @variants hover, focus {
        .filter-none {
            filter: none;
        }

        .filter-grayscale {
            filter: grayscale(100%);
        }
    }
}

.content h2 {
    @apply text-3xl mb-5 font-bold;
}

.content h3 {
    @apply text-2xl mb-3 font-bold;
}

.content p {
    @apply text-lg mb-4;
}

.content a {
    @apply text-purple-700;
}

.content ol {
    @apply list-disc pl-5;
}

.content li {
    @apply mb-2;
}

.pie-chart canvas {
    height: 300px !important;
}

.line-chart canvas {
    border-radius: 0.5rem;
    height: 100% !important;
    max-width: 100% !important;
}
