@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Nunito, serif;
}

@layer utilities {
    @variants hover, focus {
        .filter-none {
            filter: none;
        }

        .filter-grayscale {
            filter: grayscale(100%);
        }
    }
}
