.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
}

.card-carousel-container {
    overflow: hidden;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 500px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
    .card-carousel {
        margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}

.card-carousel .card {
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    transition: inherit;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.highlight {
    filter: brightness(1)
}

.image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;

}

.image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
}
